*{
    margin: 0;
    padding: 0;
}

.container h1{
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

fieldset{
    border: 0;
    margin-left: 7%;
}

#logo{
    width: 10em;
    margin-left: 16%;
    margin-top: 10px;
    padding-bottom: 2%;
    padding-left: 11.5%;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/imagemfundo.jpg);
}

.container{
    width: 500px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

#email{
    width: 18.6em;
}

input, select, textarea, button{
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}


.grupo:after {
    clear: both;
}

.campo{
    margin-bottom: 1em;
}


.campo label{
    margin-bottom: 0.2em;
    color: black;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="date"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #808080;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    border-color: #be2929;
    outline: none;
}  

.botao {
    font-size: 1.2em;
    background: #a20202;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-left: 160px;
}

.botao:hover{
    background: #be2929;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

#data{
    width: 12.23em;
}

#anexo{
    border-radius: 1px;
}