* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.logo-header img,
.trem-cptm img {
    width: 120px;
    position: relative;
    top: 0;
    margin: 0;
    right: 80px;
}

.header, 
.navigation-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation-header a:hover{
    background: #eeecec4f;
    transition: all .5s;
}

.header {
    position: relative;
    background-color: rgb(240, 240, 240) ;
    box-shadow: 1px 1px 4px var(--color-dark2);
    height: 4em;
    justify-content:space-between;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.trem-cptm img {
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 40px;
    padding-right: 50px;
}

.navigation-header a {
    color: darkred;
    text-decoration: none;
    transition: 1s;
}

.navigation-header {
    gap: 3em;
}

.main {
    background: url(../img/teste-bg4.jpg) no-repeat;
    background-size:cover ;
    background-position: center;
}
/* cards */
.hero {  /* primeira parte */
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    text-align: center;
}
 
.hero-text h1 {
    font-size: 3em;
}
 
.hero-text p {
    font-size: 1.2em;
}
/* botao */
.btn {
    background: #000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    margin-top: 210px;
}

/* cards */
.services {
    padding: 40px 20px;
    text-align: center;
}
 
.service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}
 
.card h3 {
    color: #e50000;
}
 
.card a {
    text-decoration: none;
    color: #e50000;
    font-weight: bold;
}
.card:hover {
    background: #a5a2a2ad; 
  }
 
.status {
    background: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
}
.status-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* efeito hover dos cards status */
.line-status:hover {
    background: #a39d9d; 
  }

/* cards do status da linha */
.line-status {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

